# jekyll
_site/
hidden-posts
.jekyll-metadata

# frontmatter cms
.frontmatter/**

# vscode
.vscode/

# vendor files
/vendor
/vendor/gems/
/bin/
/.bundle/
.bundle
.bin
/bin

# caches
.sass-cache
.gist-cache
.pygments-cache
_deploy
_cache

# node
node_modules

#  OSX
.DS_Store
