# jekyll
_site/
hidden-posts

# vendor files
/vendor
/vendor/gems/
/bin/
/.bundle/
.bundle
.bin
/bin

# caches
.sass-cache
.gist-cache
.pygments-cache
_deploy
_cache

# node
node_modules

#  OSX
.DS_Store

# ctags
.tags
.tags_sorted_by_file

# other garbage
*.*~
_release
*.map
.jekyll-metadata
