<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body style="min-height: 100vh;">

    <div class="site">
      {{ content }}
    </div>

    <script id="dsq-count-scr" src="https://rachelgold.disqus.com/count.js" async></script>

  </body>
</html>
