---
layout: default
---

<div class="page-header">
  <nav>
    {% include avatar-sitename.html %}
  </nav>
</div>

<header>
  <h1 class="section-header">{{ page.title }}</h1>
  <div class="meta">
    {{ page.date | date_to_string }}
  </div>
</header>

<div class="post">
{{ content }}
</div>

<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">
      &laquo; previous
    </a>
  {% endif %}

  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">
      next &raquo;
    </a>
  {% endif %}
</div>
