---
layout: default
---

<div class="page-header">
  <nav>
    {% include avatar-sitename.html %}
  </nav>
</div>

<header>
  <h1 class="section-header">{{ page.title }}</h1>
  <div class="meta">
    {{ page.date | date_to_string }}
    {% if page.comments %}
      • <a href="https://www.rachelgold.ca{{ page.url }}#disqus_thread">0 Comments</a>
    {% endif %}
  </div>
</header>


<div class="post">
{{ content }}
</div>

<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.date | date_to_string}} </a>
  {% endif %}
  {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.date | date_to_string}} &raquo;</a>
    {% endif %}
</div>

{% include disqus.html %}
